@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root {
  --color-1: #daffef;
  --color-2: #5c6b73;
  --color-3: #9db4c0;
  --color-4: #c2dfe3;
  --color-5: #e0fbfc;

  --main-font: "Roboto", sans-serif;
}

* {
  font-family: var(--main-font);
}
